<footer class="uk-text-muted uk-background-secondary">
    <div class="uk-container uk-padding-remove">
        <div uk-grid class="uk-margin-top uk-padding-large">
            <div class="uk-width-1-4@m">
                <h5 class="uk-light">Curabitur</h5>
                <p>Emauris</p>
                <p>Kfringilla</p>
                <p>Oin magna sem</p>
                <p>Kelementum</p>
            </div>
            <div class="uk-width-1-4@m">
                <h5 class="uk-light">Fusce</h5>
                <p>Econsectetur</p>
                <p>Ksollicitudin</p>
                <p>Omvulputate</p>
                <p>Nunc fringilla tellu</p>
            </div>
            <div class="uk-width-1-4@m">
                <h5 class="uk-light">Kontakt</h5>
                <p>Peakontor: Sakalas</p>
                <p>Tällevere, 71511 Tallinn</p>
                <p>Telefon: 5555 5555</p>
                <p>Faks: 5555 5555</p>
            </div>
            <div class="uk-width-1-4@m">
                <br />
                <p>Harukontor: Viljandi</p>
                <p>Suure-Jaani (külastusaadress)</p>
                <p>Telefon: 5555 5555</p>
                <p>Faks: 5555 5555</p>
            </div>
        </div>
    </div>
</footer>
