<footer class="uk-text-muted">
    <div class="uk-container uk-padding-remove">
        <div uk-grid class="uk-margin-top uk-padding-large">
            <div class="uk-width-1-4@m">
                <h5>Curabitur</h5>
                <p>Emauris</p>
                <p>Kfringilla</p>
                <p>Oin magna sem</p>
                <p>Kelementum</p>
            </div>
            <div class="uk-width-1-4@m">
                <h5>Fusce</h5>
                <p>Econsectetur</p>
                <p>Ksollicitudin</p>
                <p>Omvulputate</p>
                <p>Nunc fringilla tellu</p>
            </div>
            <div class="uk-width-1-4@m">
                <h5>Kontakt</h5>
                <h6>Peakontor: Tallinnas</h6>
                <p>Väike-Ameerika 1, 11415 Tallinn</p>
                <p>Telefon: 605 4450</p>
                <p>Faks: 605 3186</p>
            </div>
            <div class="uk-width-1-4@m">
                <h6>Harukontor: Võrus</h6>
                <p>Oja tn 7 (külastusaadress)</p>
                <p>Telefon: 605 3330</p>
                <p>Faks: 605 3155</p>
            </div>
        </div>
    </div>
</footer>
