<div class="uk-container uk-margin-top uk-padding-remove">
    <div class="uk-grid uk-grid-collapse" uk-grid>
        <div class="uk-width-1-2@m uk-section-primary uk-preserve-color uk-flex uk-flex-middle uk-padding uk-light">
            <h3>
                Sed nex elit vestibulum, <strong>tincidunt orci</strong> et, sagittis ex.
                Vestibulum rutrum <strong>neque sucipit</strong> ante mattis maximus.
                Nulla non sapien <strong>viverra, lobortis lorem non,</strong> accumsan metus.
            </h3>
        </div>
        <div class="uk-width-1-2@m">
            <img src="assets/images/pargipink.jpg" alt="Park Bench" class="uk-width-1-1">
        </div>
    </div>

    <div class="uk-grid uk-grid-match uk-margin-top" uk-grid>
        <div class="uk-width-1-2@m uk-margin-small-bottom">
            <div class="uk-card uk-card-default uk-card-small">
                <div class="uk-card-header uk-background-primary uk-light uk-text-center">
                    <h5 class="uk-margin-remove">Tulevased üritused</h5>
                </div>
                <div *ngIf="upcomingEvents.length; else noUpcomingEvents">
                    <div *ngFor="let event of upcomingEvents; let i = index" class="uk-card-body uk-padding-remove">
                        <div class="uk-list uk-list-divider">
                            <div class="uk-flex uk-flex-between uk-flex-middle uk-padding-small">
                                <div class="uk-width-2-4">
                                    <a href="/events/{{event.id}}">{{ i + 1 }}. {{ event.name }}</a>
                                </div>
                                <div class="uk-width-1-4 uk-text-right">
                                    {{ event.eventDate | date: 'dd.MM.yyyy' }}
                                </div>
                                <div class="uk-width-1-4 uk-text-right">
                                    <a (click)="deleteEvent(event.id)" href="" uk-icon="icon: close"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noUpcomingEvents>
                    <p>Üritusi pole hetkel.</p>
                </ng-template>
                <div class="uk-card-footer uk-background-muted">
                    <a href="/events/add" class="uk-button uk-button-primary uk-width-1-1">Lisa üritus</a>
                </div>
            </div>
        </div>


        <div class="uk-width-1-2@m uk-margin-small-bottom">
            <div class="uk-card uk-card-default uk-card-small">
                <div class="uk-card-header uk-background-primary uk-light uk-text-center">
                    <h5 class="uk-margin-remove">Toiminud üritused</h5>
                </div>
                <div *ngIf="pastEvents.length; else noPastEvents">
                    <div *ngFor="let event of pastEvents; let i = index" class="uk-card-body uk-padding-remove">
                        <div class="uk-list uk-list-divider">
                            <div class="uk-flex uk-flex-between uk-flex-middle uk-padding-small">
                                <div class="uk-width-3-4">
                                    <a href="/events/{{event.id}}">{{ i + 1 }}. {{ event.name }}</a>
                                </div>
                                <div class="uk-width-1-4 uk-text-right">
                                    {{ event.eventDate | date: 'dd.MM.yyyy' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noPastEvents>
                    <p>Varasemaid üritusi pole.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>