<div class="uk-container uk-margin-top uk-padding-remove">
    <div class="uk-grid uk-grid-collapse uk-flex-middle" uk-grid>
        <div class="uk-width-1-2@m" style="background-color: #1e87f0; color: white; padding: 2rem;">
            <h3>
                Sed nex elit vestibulum, <strong>tincidunt orci</strong> et, sagittis ex.
                Vestibulum rutrum <strong>neque sucipit</strong> ante mattis maximus.
                Nulla non sapien <strong>viverra, lobortis lorem non,</strong> accumsan metus.
            </h3>
        </div>
        <div class="uk-width-1-2@m">
            <img src="assets/images/pargipink.jpg" alt="Park Bench" class="uk-width-1-1">
        </div>
    </div>

    <div class="uk-grid uk-grid-match uk-margin-top" uk-grid>
        <div class="uk-width-1-2@m uk-margin-small-bottom">
            <div class="uk-card uk-card-default uk-card-small">
                <div class="uk-card-header uk-background-primary uk-light uk-text-center">
                    <h5 class="uk-margin-remove">Tulevased üritused</h5>
                </div>

                <div class="uk-card-body uk-padding-remove">
                    <div class="uk-list uk-list-divider">
                        <div class="uk-flex uk-flex-between uk-flex-middle uk-padding-small">
                            <div class="uk-width-3-4">
                                <a href="#">1. Event Name</a>
                            </div>
                            <div class="uk-width-1-4 uk-text-right">
                                07.02.2025
                            </div>
                            <div>
                                <button class="uk-button uk-button-text">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-card-footer uk-background-muted">
                    <a href="#" class="uk-button uk-button-primary uk-width-1-1">Lisa üritus</a>
                </div>
            </div>
        </div>


        <div class="uk-width-1-2@m uk-margin-small-bottom">
            <div class="uk-card uk-card-default uk-card-small">
                <div class="uk-card-header uk-background-primary uk-light uk-text-center">
                    <h5 class="uk-margin-remove">Toiminud üritused</h5>
                </div>
                <div class="uk-card-body uk-padding-remove">
                    <div class="uk-list uk-list-divider">
                        <div class="uk-flex uk-flex-between uk-flex-middle uk-padding-small">
                            <div class="uk-width-3-4">
                                <a href="#">1. Past Event Name</a>
                            </div>
                            <div class="uk-width-1-4 uk-text-right">
                                07.02.2025
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>