<header>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" routerLink="/home">
                <img src="assets/images/proovilogo.png" alt="Event Registration Logo">
            </a>
            <ul class="uk-navbar-nav">
                <li>
                    <a routerLink="/home" routerLinkActive="uk-active">Avaleht</a>
                </li>
                <li>
                    <a routerLink="/events/add" routerLinkActive="uk-active">Ürituse Lisamine</a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-item">
                <img src="assets/images/proovilogo2.png" alt="Secondary Logo">
            </a>
        </div>
    </nav>
</header>
